### IntelliJ IDEA ###
*.idea/
*.iml
out/
*.ipr
*.iws

### Maven ###
*target/
*!.mvn/wrapper/maven-wrapper.jar
*.mvn/wrapper/maven-wrapper.properties
*.mvn/wrapper/maven-wrapperDownloader.java

### Gradle ###
*.gradle/
*build/
*!gradle/wrapper/gradle-wrapper.jar

### Logs ###
*.log

### OS Files ###
*.DS_Store
*Thumbs.db



### Others ###
# Temporary files
*.swp
*.swo
*.tmp
*.bak
